# Dependencies
node_modules/

# Production builds
dist/
build/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
eslint-debug.log*
*.log

# Precompiled Electron app templates or packages
release/
out/
